@font-face {
  font-family: cheri;
  src: url(./assets/fonts/cheri.liney.ttf);
}
@font-face {
  font-family: roboto;
  src: url(./assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: segoe;
  src: url(./assets/fonts/Segoe-UI.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('bgimg.jpg');  */
  /* position: relative; */
}
input,
button {
  font: inherit;
}
body {
  background: rgb(9,30,121);
background: radial-gradient(circle, rgba(9,30,121,0.9640231092436975) 27%, rgba(0,212,255,1) 100%);
  /* background-color: #2352a3; */
  /* background: linear-gradient(to bottom right, violet, purple); */
  /* background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
  /* background-image: linear-gradient(to right bottom, #e72525, #eb0049, #e4006d, #cf0092, #aa00b4, #8f41d4, #6760ed, #0078ff, #00a0ff, #00baf0, #00cca7, #00d653);
  position: relative; */
  /* background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,30,121,0.9640231092436975) 27%, rgba(0,212,255,1) 100%); */
}
.caution {
  color: red;
  margin: 4px;
  font-size: 1.3rem;
  display: none;
}

/* header */
.header {
  max-width: 890px;
  padding-block: 30px;
  padding-inline: 20px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.title-cont {
  margin-bottom: 120px;
  place-self: center;
  margin-left: 100px;
}

/* titles */
.title {
  font-family: cheri;
  font-size: 4rem;
  color: #e5e7eb;
  letter-spacing: 10px;
}

.sub-title {
  color: #ff5386;
  letter-spacing: 1.5px;
  font-family: cheri;
  font-size: 1.75rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.title,
.sub-title {
  text-align: center;
  user-select: none;
}
/* main */
.main {
  width: 100%;
  height: 80px;
  position: relative;
}

.inner-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.main-block {
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #333;
  opacity: 90;
  color: transparent;
  border-bottom: 15px solid #202020;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
}
.main-block::after {
  content: "";
  position: absolute;
  height: 7px;
  bottom: -11px;
  left: 5px;
  right: 5px;
  background: linear-gradient(90deg, #4a4a4a, #3c3c3c 50%, #4a4a4a 100%);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
      inset -8px 8px rgba(0, 0, 0, 0.25), 10px 20px 25px rgba(0, 0, 0, 0.4);
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
}
.main-block.visible {
  color: #fff;
}
.tries-cont {
  height: 50px;
  position: relative;
  margin-bottom: 10px;
}
.tries {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  font-size: 2rem;
  font-family: segoe;
  color: #fff;
  text-align: center;
  user-select: none;
}

/* keyboard */
.keyboard {
  margin: 1rem auto;
  max-width: 890px;
  padding-inline: 20px;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.9rem;
  margin-bottom: 2rem;
}
.keyboard button {
  font-family: roboto;
  display: inline-block;
  position: relative;
  height: 60px;
  width: 60px;
  padding: 8px 10px;
  background: linear-gradient(180deg, #282828, #202020);
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
      inset -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
      10px 20px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
}
.keyboard button::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 14px;
  right: 12px;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
      10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
}
.start-button:active,
.keyboard button:active {
  transform: scale(0.94);
  -webkit-transform: scale(0.94);
  -moz-transform: scale(0.94);
  -ms-transform: scale(0.94);
  -o-transform: scale(0.94);
}
button.fail {
  background: linear-gradient(180deg, #d25e5e, #b12222);
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.4;
  transform: scale(0.94);
  -webkit-transform: scale(0.94);
  -moz-transform: scale(0.94);
  -ms-transform: scale(0.94);
  -o-transform: scale(0.94);
  cursor: not-allowed;
}
button.fail::before {
  background: linear-gradient(90deg, #ff3434, #ff4545);
}

.keyboard button.success {
  background: linear-gradient(180deg, #10b981, #065f46);
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3);
}
.keyboard button.success::before {
  background: linear-gradient(90deg, #15803d, #20aa52);
}

.keyboard button i,
.start-button i {
  position: relative;
  color: #fff;
  font-style: normal;
  font-size: 1.25rem;
  text-transform: uppercase;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.start-button,
.hint {
  display: inline-block;
  position: relative;
  min-height: 70px;
  padding: 8px 15px;
  background: linear-gradient(180deg, #fb923c, #c2410c);
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: inset -8px 0 8px rgba(234, 88, 12, 0.15),
      inset -8px 8px rgba(234, 88, 12, 0.25),
      0 0 0 2px rgba(234, 88, 12, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
}
.start-button::before,
.hint::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 14px;
  right: 12px;
  background: linear-gradient(90deg, #f97316, #fb923c);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
      10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
}
.start-button i,
.hint i {
  position: relative;
  color: #333;
  font-weight: 600;
  font-family: sans-serif;
}

.hint {
  min-height: 60px;
  padding: 8px 20px 15px 13px;
  background: linear-gradient(180deg, #cfcfcf, #777777);
  box-shadow: inset -8px 0 8px rgba(234, 255, 255, 0.15),
      inset -8px 8px rgba(234, 255, 255, 0.25),
      0 0 0 2px rgba(234, 255, 255, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
}
.hint::before {
  background: linear-gradient(90deg, #a3a3a3, #eeeeee);
}
#start.start-fail {
  opacity: 0.6;
  transform: scale(0.94);
  -webkit-transform: scale(0.94);
  -moz-transform: scale(0.94);
  -ms-transform: scale(0.94);
  -o-transform: scale(0.94);
  cursor: not-allowed;
}

/* Modals */
.modal {
  position: absolute;
  background-color: #9199a5;
  color: #0e141e;
  font-family: sans-serif;
  width: 400px;
  padding: 1rem;
  border: 3px solid #39475d;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}
.modal > * + * {
  margin-top: 0.75em;
}
.modal > * {
  user-select: none;
}
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Hint Modal */
.modal-hint p {
  color: #4f5b6f;
}
.hint-btn {
  display: flex;
  gap: 0.25rem;
  font-size: 15px;
}
.hint-btn > * {
  cursor: pointer;
  border: 2px solid #7b8493;
  padding: 0.25rem 0.5rem;
  flex: 1;
}
/* Win Modal */
.modal-win::backdrop {
  background-color: transparent;
}

/* About button and modal */
.open-about {
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* position */
  position: fixed;
  top: 15px;
  right: 25px;
}
.close-about {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  /* position */
  position: absolute;
  top: 10px;
  right: 10px;
}
.close-about svg {
  width: 20px;
  fill: hsl(217, 24%, 20%);
}
.modal-about {
  text-align: center;
  position: relative;
}
.modal-about h4 {
  /* Modal Title */
  font-family: cheri;
  font-size: 2rem;
  color: hsl(217, 24%, 25%);
  letter-spacing: 4px;
}
.modal-about .lead {
  /* Modal Para */
  font-size: 0.8rem;
  color: hsl(217, 24%, 35%);
  text-align: left;
  margin-left: 4px;
  line-height: 1.5;
}
.about-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: hsl(217, 24%, 30%);
}
.about-icon-container img {
  width: 34px;
}
.about-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
}
.about-links a {
  text-decoration: none;
}
@media screen and (max-width: 1440px) {
  .header {
      max-width: 790px;
      margin-block: 25px;
  }
  #hangman {
      width: 10rem;
  }
}
@media screen and (max-width: 768px) {
  .title {
      font-size: 3.5rem;
  }
  .sub-title {
      font-size: 1rem;
  }
  .keyboard button {
      width: 55px;
      height: 55px;
  }
}
@media screen and (max-width: 500px) {
  .caution {
      display: block;
  }
  .header {
      grid-template-columns: 1fr;
      gap: 1rem;
  }
  .title-cont {
      grid-row: 1 /2;
  }
  .title {
      font-size: 3rem;
  }
  .sub-title {
      font-size: 1rem;
  }
  #hangman {
      place-self: center;
  }
}


/* .infocepts-logo{
  height: 100px;
  margin-left: 1300px;
  margin-top: 20px;
  
}

.talent-development-logo{
  margin-top: 20px;
  
} */

.logos{
  display: flex;
  flex-direction: left;

}

.child-logo{
  flex: 1;
  width: 50%;
  
}

.infocepts-logo{
  height: 80px;
  margin-top: 20px;
  margin-left: 0px;
}

.talent-development-logo{
  margin-top: 20px;
  margin-left: 20px;
  height: 100px;
}

.master{
  display: flex;
}

#aibot{
  height: 200px;
  margin-left: 230px;
}

#aibot2{
  height: 200px;
  margin-right: 230px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#hint-text{
  position:relative;
  margin-top: 10px;
  top: 100%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  font-size: 1.5rem;
  font-family: segoe;
  color: #fff;
  text-align: center;
  font-style: italic;
  color: yellow;
}